{% extends 'index.html' %}
{% block content %}

<!-- Carga de jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        function url_change(){
            var url = "http://localhost:5000/proveedores/proveedor/search/";
            var texto = $("#texto").val();
            var criterio = $("#criterio").val();
            url += criterio + "/" + texto;
            $("#btn").attr("href", url);
        }

        $("#texto").keyup(function(){
            url_change();
        });

        $("#criterio").change(function(){
            url_change();
        });
    });
</script>

<div class="container mt-5">
    <!-- Mensajes Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="card shadow-lg">
        <!-- Encabezado con ícono -->
        <div class="card-header text-center bg-primary text-white d-flex align-items-center justify-content-center">
            <i class="fas fa-truck fa-lg me-2"></i>
            <h4 class="m-0">Lista de Proveedores</h4>
        </div>

        <div class="card-body">
            <!-- Sección de búsqueda -->
            <div class="mb-3">
                <label>Buscar</label>
                <select id="criterio">
                    <option value="apellido">Apellidos</option>
                    <option value="cedula">Cédula</option>
                    <option value="telefono">Teléfono</option>
                    
                </select>
                <input id="texto" placeholder="Ingresa un texto a buscar"/>
                <a id="btn" class="btn btn-primary">Buscar</a>
            </div>

            <!-- Botón "Nuevo Proveedor" -->
            <div class="mb-3 text-start">
                <a href="/proveedores/proveedor/register" class="btn btn-primary">Nuevo Proveedor</a>
            </div>

            <!-- Tabla de proveedores -->
            <table class="table table-bordered text-center">
                <thead class="table-primary">
                    <tr>
                        <th>Nro</th>
                        <th>Nombre de la empresa 
                            <a href="http://localhost:5000/proveedores/proveedor/order/nombreEmpresa/1"><i class="fas fa-arrow-up"></i></a>
                            <a href="http://localhost:5000/proveedores/proveedor/order/nombreEmpresa/0"><i class="fas fa-arrow-down"></i></a>
                        </th>
                        <th>Identificación del Proveedor</th>
                        <th>Proveedor 
                            <a href="http://localhost:5000/proveedores/proveedor/order/apellido/1"><i class="fas fa-arrow-up"></i></a>
                            <a href="http://localhost:5000/proveedores/proveedor/order/apellido/0"><i class="fas fa-arrow-down"></i></a>
                        </th>
                        <th>Teléfono del Proveedor</th>
                        <th>Tipo de producto</th>
                        <th>Pedidos</th>
                        <th>Productos disponibles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.nombreEmpresa }}</td>
                            <td>{{item.cedula}}</td>
                            <td>{{ item.nombre }} {{ item.apellido }}</td>
                            <td>{{ item.telefono }}</td>
                            <td>{{ item.tipoProductos}}</td>
                            <td>{{ item.pedidos }}</td>
                            <td>{{ item.productosDisponibles }}</td>
                            <td>
                                <a href="/proveedores/proveedor/edit/{{ item.id }}" class="btn btn-info">MODIFICAR</a>
                                <a href="/admin/person/delete/{{ item.id }}" class="btn btn-danger">ELIMINAR</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Enlaces a estilos de Bootstrap y Font Awesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
