{% extends "base.html" %}

{% block title %}Buscar Productos - Sistema de Farmacia{% endblock %}

{% block content %}
<h1>Buscar Productos</h1>
<form method="POST" action="{{ url_for('router.search_producto') }}">
    <label for="NombreProducto">Nombre del Producto:</label>
    <input type="text" id="NombreProducto" name="NombreProducto"><br>

    <label for="TipoProducto">Tipo de Producto:</label>
    <select id="TipoProducto" name="TipoProducto">
        <option value="">Todos</option>
        {% for tipo in tipos %}
            <option value="{{ tipo.name }}">{{ tipo.name }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Buscar</button>
</form>
<a href="{{ url_for('router.inicio') }}">Volver al Inicio</a>
{% endblock %}