{% extends "index.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Producto.css') }}">
{% endblock %}

{% block content %}
<h1>Editar Producto</h1>
<form method="POST" action="{{ url_for('routeProducto.update_producto') }}">
    <input type="hidden" name="idProducto" value="{{ producto.idProducto }}">

    <label for="nombreProducto">Nombre del Producto:</label>
    <input type="text" id="nombreProducto" name="nombreProducto" value="{{ producto.nombreProducto }}" required><br>

    <label for="laboratorio">Laboratorio:</label>
    <input type="text" id="laboratorio" name="laboratorio" value="{{ producto.laboratorio }}" required><br>

    <label for="requiereReceta">Requiere Receta:</label>
    <input type="checkbox" id="requiereReceta" name="requiereReceta" {% if producto.requiereReceta %}checked{% endif %}><br>

    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" value="{{ producto.categoria }}" required><br>

    <label for="peso">Peso (en gramos):</label>
    <input type="number" id="peso" name="peso" value="{{ producto.peso }}" required><br>

    <label for="marca">Marca:</label>
    <input type="text" id="marca" name="marca" value="{{ producto.marca }}" required><br>

    <label for="tipoProducto">Tipo de Producto:</label>
    <select id="tipoProducto" name="tipoProducto" required>
        {% for tipo in lista %}
            <option value="{{ tipo.name }}" {% if tipo.name == producto.tipoProducto %}selected{% endif %}>{{ tipo.name }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Actualizar</button>
</form>
<a href="{{ url_for('routeProducto.list_producto') }}">Volver a la lista</a>
{% endblock %}