{% extends "index.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Producto.css') }}">
{% endblock %}

{% block content %}
<h1>Lista de Productos</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Laboratorio</th>
            <th>Requiere Receta</th>
            <th>Categoría</th>
            <th>Peso</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in lista %}
        <tr>
            <td>{{ producto.idProducto }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.laboratorio }}</td>
            <td>{{ producto.requiereReceta }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.peso }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.tipoProducto }}</td>
            <td>
                <a href="{{ url_for('routeProducto.view_edit_producto', id=producto.idProducto) }}">Editar</a>
                <form action="{{ url_for('routeProducto.delete_producto', id=producto.idProducto) }}" method="POST" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('routeProducto.view_register_producto') }}">Registrar Nuevo Producto</a>
<a href="{{ url_for('routeProducto.list_producto') }}">Volver a la lista</a>
{% endblock %}